<p>
<!-- <{$greeting}> <{$uname}> -->
</p>

  <TABLE border="0" WIDTH="95%">
    <TR>
      <TD valign="top">
        <!-- <p>The table to the right shows the latest virus information from
        Symantec.  Just follow a link for the relevant information.</p> -->

      </TD>
      <TD>
        <!-- start Norton AV info -->
        
        Hello:
        
<p>
<{$greeting}> <{$uname}>
</p>

<p>cat_name <!{$cat_name}></p>


<!-- {include file="db:makale_index_catlist.html" down=$file[i]} -->
<{include file="db:makale_index_catlist.html"}>

      </TD>
    </TR>
  </TABLE>