
<!-- <h4 style="text-align:left;"><{$index_page_title}></h4> -->
<table border="0" width="100%" cellspacing="1" cellpadding="0" class="outer">
  <tr>
    <th><{$category_list_title}></th>
  </tr>

  <!-- start category loop -->
  <{foreach item=category from=$categories}>
  
  <tr>
    <td>

      <table border="0" cellspacing="2" style="width: 100%">
        <tr>
          <td colspan="3"  class="even" style="width: 100%">
            <strong><a href="index.php?cat_id=<{$category.id}>"><{$category.cat_name}></a></strong>
            <span style="font-size: smaller;">(<{$category.number_makale}> <{$number_makale_caption}>)</span>
            <br />
            <span style="font-size: smaller;"><{$category.cat_description}></span>
          </td>
        </tr>
			
        <!-- start makale loop -->
        <{foreach item=makale from=$category.makale}>
        <tr>
          <td class="odd" style="width: 10px"><!-- spacer --></td>
          <td class="odd" style="width: 80%">
            <a href="makale.php?id=<{$makale.id}>"><{$makale.title}></a><br />
            <span style="font-size: smaller;"><{$makale.makale_description}></span>
          </td>
          <td class="odd" style="width: 20%">
            <{if $index_reads eq 1}>
              <span style="text-align: right;">[<{$makale.makale_views}> <{$makale_views_caption}>]</span>
            <{/if}>
          </td>
        </tr>
        <{/foreach}>
        <!-- end makale loop -->
      </table>

    </td>
  </tr>
  <{/foreach}>
  <!-- end category loop -->
</table>

<table border="0" align="center" style="width:98%">
  <tr>
    <td><{$makale_num}> <{$makale_numstart}> <{$makale_to}> <{$makale_numend}> <{$makale_of}> <{$makale_numtotal}></td>
    <td align="right"><{$makale_prev}> <{$makale_sep}> <{$makale_next}></td>
  </tr>
</table>

<!-- notification -->
<{include file='db:system_notification_select.html'}>
<!--  end notification -->


